body {
    font-family: sans-serif;
}
.button {
    border-style: solid;
    width: fit-content;
    cursor: pointer;
}
.button:hover {
    border-color: white;
    color: white;
    background-color: black;
    cursor: pointer;
}